* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: blueviolet;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.logoname {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.desktop_nav {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    text-decoration: none;
    color: wheat;
    transition: 0.5s all linear;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }
}

.open_btn {
  background: transparent;
  border: none;
  display: none;

  i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

/* mobile navigation style starts */
.mobile_nav {
  display: none;

  a {
    font-size: 3rem;
    color: white;
    text-decoration: none;
    margin-top: 5px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 0.3rem;
    }
  }
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;

  i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.close_btn i {
  color: red;
}
/* mobile navigation style ends */

/* responsive styles starts */
@media all and (max-width: 700px) {
  .open_btn {
    display: block;
  }
  .desktop_nav {
    display: none;
  }
  .mobile_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 0vw;
    background-color: black;
    opacity: 0.4;
    position: relative;
    transition: 0.2s all ease-in-out;
  }
}
/* responsive styles ends */
